* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Header section */

.header {
 padding: 2rem;
 width: 100%;
 height: 80px;
 background-color: #fff0;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.search-section {
 min-width: 300px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1em;
 border: 1px solid #DDDDDD;
 padding: 5px 6px;
 border-radius: 25px;
 text-transform: capitalize;
 box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px;
}

.search-section .p , .profile-section p {

font-weight: 600;
}

.search-section .p {
 margin-left: 1em;
}

.search-section span {
 background-color: #DDDDDD;;
 height: 20px;
 width: 1px
}

.profile-section {
 display: flex;
 align-items: center;
 gap: 1em;
 text-transform: capitalize;
}

.search-icon  {
 margin-right: auto;
 background-color: #ff385c;
 padding: 10px;
 border-radius: 50%;
 color: #fff;
}

.profile-menu {
 border: 1px solid #c5c5c5;
 padding: 5px 6px;
 border-radius: 25px;
}

.profile-menu > i {
margin-left: 1em;
/* font-size: 1.5em; */
}

.profile-menu > .fa-user {
 background-color: #717171;
 color: #FFFFFF;
 /* font-size: 1.5em; */
 padding: 8px;
 border-radius: 50%;
 
}

.rule {
 width: 100%;
 height: 1px;
 background-color: #DDDDDD;
}

/* Filter Section */

.filter {
 padding: 1em 2rem;
 display: flex;
 align-items: center;
 color: #858585;
 gap: 3em;
}

.filter-item {
 display: flex;
 flex-direction: column;
}

.filter-item i {
 font-size: 2em;
}

/*Display Price Section*/

.displayPrice-section {
 margin-top: 1em;
 width: 100%;
 /* background-color: red; */
 display: flex;
 justify-content: center;
 align-items: center;
}

.displayPrice {
 height: 70px;
 /* background-color: blue; */
 width: 700px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 1px solid #d0d0d0;
 border-radius: 1em;
 padding: 1em;
}

.displayPrice .left {
 display: flex;
 gap: 1em;
}

.displayPrice span {
 background-color: #DDDDDD;;
 height: 20px;
 width: 1px
}

.toggle {
 background-color: #DDDDDD;
 /* padding: 1em; */
 height: 35px;
 width: 60px;
 border-radius: 2em;
 /* z-index: -1; */
 position: relative;
 display: flex;
 padding: 4px;
 /* justify-content: center; */
 align-items: center;
}

.toggle-btn {
 background-color: #fff;
 border-radius: 50%;
 height: 30px;
 width: 30px;
 position: absolute;
 margin-right: auto;
}

/*Card Section*/

.card-section {
 display: grid;
 background-color: red;
 grid-template-columns: repeat(6, 1fr);
 width: 100%;
 height: 800px;
 margin-top: 3em;
padding: 2em;
}



.card {
 padding: 2em;
 height: 450px;
  background-color: #fff;
}

.image-section {
  background-color: blue;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.image-section i {
  z-index: 999;
  font-size: 2rem;
  margin: 1rem;
  right: 0;
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
}